// import the variables
@import 'base/variables';

// reset the styles
@import 'base/reset';

// components
@import 'components/icons';
@import 'components/navbar';
@import 'components/cards';

.view-container {
  width: 100%;
  max-width: $max-width;
  overflow: hidden;
  margin: 0 auto;

  @media(max-width: $screen-md) {
    padding: 0px $default-mobile-padding;
  }
}

.page-container {
  padding: 0 $default-padding;
  margin-top: $header-height;
  min-height: 100vw;
  background-color: $color-grey;

  @media(max-width: $screen-md) {
    padding: 0px $default-mobile-padding;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;

  &:focus {
    color: #000;
  }
}
