.btn {
  &:focus {
    outline: 0;
  }

  padding: $padding-md;
  font-size: $font-size-md;
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  color: #000;
  transition: $card-transition, border-bottom-width $default-transition;
  border-bottom: $button-border-bottom solid;
  border-radius: 3px;

  &:hover {
    transform: translateY($button-border-bottom - $button-border-bottom-on-hover);
    border-bottom-width: $button-border-bottom-on-hover;
    cursor: pointer;
  }

  &.btn--primary {
    background-color: $color-primary;
    border-bottom-color: $color-primary-border;
  }

  &.btn--secondary {
    background-color: $color-secondary;
    border-bottom-color: $color-secondary-border;
  }

  &.btn--tertiary {
    background-color: $color-tertiary;
    border-bottom-color: $color-tertiary-border;
  }

  &.btn--red {
    background-color: $color-red;
    border-bottom-color: $color-red-border;
  }

  &.btn--disabled {
    background-color: #EDEDED;

    &:hover {
      cursor: not-allowed;
    }
  }

  .btn--subtitle {
    display: block;
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
  }
}
