.icon {
  background-size: cover;
  background-repeat: no-repeat;

  &.icon--max-health {
    background-image: $icon-max-health;
  }

  &.icon--health {
    background-image: $icon-health;
  }

  &.icon--strength {
    background-image: $icon-strength;
  }

  &.icon--speed {
    background-image: $icon-speed;
  }

  &.icon--modal-close {
    background-image: $icon-close;
  }
}
