.modalIsOpen {
  overflow: hidden;
} // body class to disable scroll

.modal-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $modal-container-bg;
  z-index: $modal-z-index;
  left: 0;
  overflow: auto;

  .modal-container__contents-container {
    width: $modal-width;
    margin: ($header-height - $margin-lg) auto $margin-lg;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: $default-box-shadow;
    padding: $padding-md;
    position: relative;

    @media(max-width: $screen-sm) {
      width: 100%;
      margin: $header-height auto 0;
      padding: $padding-sm;
      border-radius: 0;
    }

    .icon--modal-close {
      position: absolute;
      top: $margin-sm;
      left: calc(100% - 50px); // width of icon + $margin-sm
      height: $modal-close-icon-width;
      width: $modal-close-icon-width;
      margin-right: $margin-sm;
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }
}


.fighter-account-modal--title {
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  text-transform: uppercase;
  font-size: $font-size-lg;
  text-align: center;
  margin-bottom: $margin-md;
}

.fighter-account-modal__fighter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  .fighter-account-modal__fighter--image {
    width: 50%;

    @media(max-width: $screen-sm) {
      width: 100%;
      max-width: 380px;
    }
  }

  .fighter-account-modal__fighter--info {
    width: 50%;
    list-style: none;
    text-align: center;

    @media(max-width: $screen-sm) {
      width: 100%;
    }

    .fighter-account-modal__fighter__info--item {
      padding: $padding-md;
      margin: 0 auto;

      @media(max-width: $screen-md) {
        max-width: 240px;
      }

      .fighter-account-modal__fighter__info--icon {
        width: $card-icon-width * 1.5;
        height: $card-icon-width * 1.5;
        display: inline-block;
        vertical-align: middle;
        margin-right: $margin-sm;
      }

      .fighter-account-modal__fighter__info--text {
        font-family: $default-font;
        font-weight: $default-font-weight;
        font-size: $font-size-sm;

        strong {
          font-family: $heading-font;
          font-weight: $heading-font-weight;
          font-size: $font-size-md;
        }

        @media(max-width: $screen-md) {
          margin-bottom: $margin-sm;
        }
      }

      button {
        margin-left: $margin-md;

        @media(max-width: $screen-sm) {
          margin-left: 0;
          margin-bottom: $margin-md;
        }
      }
    }
  }
}

.fighter-account-modal__other-actions {
  width: 100%;
  margin-top: $margin-md;
  padding-top: $padding-md;
  border-top: 2px solid;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .fighter-account-modal__other-actions--action {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: $screen-sm) {
      width: 100%;
      margin-bottom: $margin-md;
    }

    .fighter-account-modal__other-actions--action--title {
      font-size: $font-size-md;
      font-family: $heading-font;
      font-weight: $heading-font;
      text-transform: uppercase;
      margin-bottom: $margin-md;
      display: block;
    }

    .fighter-account-modal__other-actions--action--input {
      outline: 0;
      padding: $padding-sm;
      font-family: $default-font;
      font-size: $font-size-md;
      font-weight: $default-font-weight;
      margin: 0 auto $margin-md;
      border-bottom: 2px solid $color-primary;
      border-right: 0;
      border-left: 0;
      border-top: 0;
      display: block;
      max-width: 191px;
      text-align: center;
    }

    button {
      margin: 0 auto;
    }
  }
}
