.navigation {
  height: $header-height;
  width: $max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $color-primary;
  padding: 0px $default-padding;
  background-color: #fff;
  z-index: 99;
  position: fixed;

  @media(max-width: $screen-md) {
    padding: 0px $default-mobile-padding;
  }

  .navigation__logo {
    font-size: $font-size-lg;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    color: #000;
  }

  .navigation__links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .navigation__links--item {
      line-height: $header-height;
      padding: 0 $padding-md;
      height: 100%;
      font-family: $heading-font;
      font-size: $font-size-sm;
      font-weight: $heading-font-weight;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
        cursor: pointer;

        &.selected {
          text-decoration: none;
        }
      }

      &.selected {
        background-color: $color-primary;
      }
    }
  }
}
