@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:800|Montserrat:500');

// defaults
$max-width: 1400px;
$default-padding: 55px;
$default-mobile-padding: 20px;
$margin-sm: 5px;
$margin-md: 15px;
$margin-lg: 30px;
$padding-sm: 5px;
$padding-md: 15px;
$default-box-shadow: box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);

// colors
$color-primary: #99B2DD;
$color-secondary: #8D80AD;
$color-tertiary: #FFBA49;
$color-red: #EF5B5B;
$color-grey: #F7FEFF;

// screen widths
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 500px;

// fonts
$heading-font: 'Barlow Semi Condensed', sans-serif;
$heading-font-weight: 800;
$default-font: 'Montserrat', sans-serif;
$default-font-weight: 500;

$font-size-lg: 28px;
$font-size-md: 20px;
$font-size-sm: 14px;

// header
$header-height: 70px;

// cards
$min-card-width: 250px;
$card-transform: scale(1.08);
$card-transition: transform 0.6s ease-in-out;
$card-icon-width: 14px;

// icons
$icon-max-health: url('/img/icon/max-health-icon.svg');
$icon-health: url('/img/icon/health-icon.svg');
$icon-speed: url('/img/icon/speed-icon.svg');
$icon-strength: url('/img/icon/strength-icon.svg');
